.navbar-default{
	background-color: #fdd91a;
	border-radius: 0%;
	border-color: #fdd91a;
	margin: 0 0;
}
.navbar-default .navbar-nav>li>a{
	color: white;
}
.navbar-default .navbar-brand{
	color: white;
}
.main{
background-color: #39c8af;
height: 632px;
position: relative;
}
.main>.container>img{
	position: absolute;
	left: 650px;
	bottom: 0px;
	width: 45%;
}
footer{
	text-align: center;
	background-color: #fdd91a;
	color: white;
	padding: 10px 0;
}
.btn-primary{
	margin-left:15px; 
	background-color: #fdd91a;
	border-color: #fdd91a;
}